# Webstorm cache folder
.idea

# Node modules folder
node_modules

# SASS cache folder
src/assets/stylesheets/.sass-cache

# Compiled CSS files
dist/assets/stylesheets/**

# Compiled JavaScript files
dist/assets/scripts/**

# Optimized images
dist/assets/images/**
dist/*.ico
dist/*.png
dist/*.svg

# Compiled HTML files
dist/**/*.html

# Security Sensitive Files
/aws-keys.json
