// Toggle menu - A menu that opens when clicked/pushed on the label and closes when clicked/pushed again
//
// <input type="checkbox" class="u-toggle-state" id="u-toggle-state">
// <label for="u-toggle-state">
//   Toggle me
// </label>
// <div class="u-toggle-item">
//   ...
// </div>
@mixin u-toggle() {
  &-state,
  &-state:not(:checked) ~ .u-toggle-item {
    display: none;
  }

  &-item {
    display: block;
    position: absolute;
    z-index: $z-index-toggle-menu;
  }
}
