// Track
$track-border: none;
$track-border-radius: 3px;
$track-border-radius-lower: 10px; // Our notorious outsider MS
$track-border-radius-upper: 10px; // Our notorious outsider MS
$track-height: 5px;
$track-width: 150px;

$runnable-track-color: #7FD4FF;
$runnable-track-color-lower: #777; // Our notorious outsider MS
$runnable-track-color-lower-focus: #888; // Our notorious outsider MS
$runnable-track-focus-color: #9DF;

// Thumb
$thumb-height: 16px;
$thumb-width: 16px;

$thumb-border: 2px solid white;
$thumb-border-radius: 50%;
$thumb-color: tomato;

input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;

  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;

  /*required for proper track sizing in FF*/
  width: $track-width;
}

input[type=range]::-webkit-slider-runnable-track {
  width: $track-width;
  height: $track-height;
  background: $runnable-track-color;
  border: $track-border;
  border-radius: $track-border-radius;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: $thumb-border;
  height: $thumb-height;
  width: $thumb-width;
  border-radius: $thumb-border-radius;
  background: $thumb-color;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: $runnable-track-focus-color;
}

input[type=range]::-moz-range-track {
  width: $track-width;
  height: $track-height;
  background: $runnable-track-color;
  border: $track-border;
  border-radius: $track-border-radius;
}

input[type=range]::-moz-range-thumb {
  border: $thumb-border;
  height: $thumb-height;
  width: $thumb-width;
  border-radius: $thumb-border-radius;
  background: $thumb-color;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  width: $track-width;
  height: $track-height;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: $runnable-track-color-lower;
  border-radius: $track-border-radius-lower;
}

input[type=range]::-ms-fill-upper {
  background: $runnable-track-color;
  border-radius: $track-border-radius-upper;
}

input[type=range]::-ms-thumb {
  border: $thumb-border;
  height: $thumb-height;
  width: $thumb-width;
  border-radius: $thumb-border-radius;
  background: $thumb-color;
}

input[type=range]:focus::-ms-fill-lower {
  background: $runnable-track-color-lower-focus;
}

input[type=range]:focus::-ms-fill-upper {
  background: $runnable-track-focus-color;
}
