///*------------------------------------*\
//    # GLOBAL LINK STYLING
//\*------------------------------------*/

// Provide an icon for external links
//
// 1. Inform screen reader users of external links
//
a[href^="http"]::after {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#{$jm-global-paragraph-link-color}" d="M12 0v5h11.3l-5 5H0v22h22V17.58l-2 2V30H2V12h14.3l-7.73 7.75 3.61 3.55L27 8.58V20h5V0z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75% auto;
  /* alternative text rules */
  content: '(external link)'; /* [1] */
  overflow: hidden;
  white-space: nowrap;
  text-indent: 1em; /* the width of the icon */
}
