/**
 * 1. slightly temper the contrast between your paragraph text and background color
 *    for sufferers of scotopic sensitivity syndrome (or Irlen syndrome)
 */
p {
  background-color: $jm-global-paragraph-bg-color; /* [1] */
  color: $jm-global-text-color; /* [1] */

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// IMPROVED LINK UNDERLINES
//
// @link http://smashed.by/underlines
p a {
  color: $jm-global-paragraph-link-color;
  text-decoration: none;
  text-shadow:
    0.05em 0 0 $jm-global-paragraph-bg-color,
    -0.05em 0 0 $jm-global-paragraph-bg-color,
    0 0.05em 0 $jm-global-paragraph-bg-color,
    0 -0.05em 0 $jm-global-paragraph-bg-color,
    0.1em 0 0 $jm-global-paragraph-bg-color,
    -0.1em 0 0 $jm-global-paragraph-bg-color,
    0 0.1em 0 $jm-global-paragraph-bg-color,
    0 -0.1em 0 $jm-global-paragraph-bg-color;
  background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
  background-repeat: repeat-x;
  background-position: bottom 0.03em center;
  background-size: 100% 0.1em;
}

// Improved focus indication
p a:focus {
  outline: none;
  background-color: $jm-global-paragraph-link-bg-color-focus;
  text-shadow:
    0.05em 0 0 $jm-global-paragraph-link-bg-color-focus,
    -0.05em 0 0 $jm-global-paragraph-link-bg-color-focus,
    0 0.05em 0 $jm-global-paragraph-link-bg-color-focus,
    0 -0.05em 0 $jm-global-paragraph-link-bg-color-focus,
    0.1em 0 0 $jm-global-paragraph-link-bg-color-focus,
    -0.1em 0 0 $jm-global-paragraph-link-bg-color-focus,
    0 0.1em 0 $jm-global-paragraph-link-bg-color-focus,
    0 -0.1em 0 $jm-global-paragraph-link-bg-color-focus;
}
