///*------------------------------------*\
//    # GLOBAL (BLOCK)QUOTE STYLING
//\*------------------------------------*/

q {
  @include gel-typography('quote');
  font-family: $gel-type-base-font-stack-serif;
  font-style: italic;
}

q b,
q strong {
  @include gel-typography('quote');
  font-family: $gel-type-base-font-stack-serif;
  font-style: italic !important;
}

blockquote {
  @include gel-typography('block-quote');
  color: $jm-global-text-color;
  font-family: $gel-type-base-font-stack-serif;
  font-style: italic;

  &:before {
    content: '';
  }
}

blockquote b,
blockquote strong {
  @include gel-typography('block-quote');
  font-family: $gel-type-base-font-stack-serif;
  font-style: italic !important;
}
