///*------------------------------------*\
//    # GLOBAL SETTINGS
//\*------------------------------------*/

// typography
$jm-type-enable--markup-output: true !default;

// grid
$jm-grid-breakpoints: (xs, s, m, l, xl) !default;
$jm-grid-enable--markup-output: true !default;

//$rtl: true;

// Colour palette
$jm-global-text-color: #222;
$jm-global-bg-color: #f7f7f5;
$jm-global-paragraph-bg-color: $jm-global-bg-color;
$jm-global-paragraph-link-color: blue;
$jm-global-paragraph-link-bg-color-focus: #cef;

$jm-global-line-divided-list-divider-color: grey;
