///*------------------------------------*\
//    # GRID - SETTINGS
//\*------------------------------------*/

// The following variables are used to configure the Grid component.
// These variables should not be modified or adjusted directly; you should
// predefine the variables in your own project, to override these default settings.

/// General configuration
//
// The prefix applied to all breakpoints used by Sass MQ. By default this
// inherits from the default jm-breakpoint-prefix: `u-bp-`.
//
// @type String
// @link http://bit.ly/1nxxE0p
//
$jm-grid-breakpoint-namespace: $jm-breakpoint-prefix !default;

/// Grid configuration
//
// Grid max-width points
//
// @type String
//
$jm-grid-max-width: 1008px;

// The fixed margins and gutters increase in size for larger screens
//
// @type String
//
$jm-grid-margin-change: 400px;
$jm-grid-gutter-change: 600px;

// Which GEL breakpoints should width classes be output for?
//
// @type List
// @link http://bit.ly/1PjPdLz
//
$jm-grid-breakpoints: (s, m, l, xl) !default;

// The default number of columns width calculations should be based upon
// if no other number has been provided
//
// @type Int
//
$jm-grid-default-columns: 12 !default;

// A list of all the columns width classes should be generated for
//
// @type List
//
$jm-grid-columns: (
  1 2 3 4 5 8 10 12 24
) !default;

// The class applied by a feature detection script to signify there the
// current browser doesn't support Flexbox
//
// @type String
//
$jm-grid-flexbox-feature-detection-class: 'no-flexbox' !default;

/// Output configuration
//
// Should grid CSS classes be output?
//
// @type Boolean
//
$jm-grid-enable--markup-output: false !default;

// Apply a CSS fix to remove the whitespace between `inline-block`
// items. Note: This fix is not 100% to work.
//
// @type Boolean
// @link http://bit.ly/1bfMrhO
//
$jm-grid-enable--whitespace-fix: false !default;
