///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-radius: 3px !default;
$global-transition: (1 / 3) + s !default;

//
// Paths
//––––––––––––––––––––––––––––––––––––––––––––––––––
$assets-folder-path: '../images/';

//
// Colors
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Named colors definition

//
// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

//
// Layout
//––––––––––––––––––––––––––––––––––––––––––––––––––
$global-main-wrapper-width: 980px;
