///*------------------------------------*\
//    # GLOBAL SETTINGS
//\*------------------------------------*/

// typography
$gel-type-enable--markup-output: false !default;

// grid
$gel-grid-1280-toggle-class: 'b-pw-1280' !default;
$gel-grid-breakpoints: (xs, s, m, l, xl) !default;
$gel-grid-breakpoints--1280: (xxl) !default;
$gel-grid-enable--markup-output: true !default;

//$rtl: true;

// Colour palette
$jm-global-text-color: #222;
$jm-global-bg-color: #f7f7f5;
$jm-global-paragraph-bg-color: $jm-global-bg-color;
$jm-global-paragraph-link-color: blue;
$jm-global-paragraph-link-bg-color-focus: #cef;
