///*------------------------------------*\
//    # CORE
//\*------------------------------------*/

// The following variables provide a common configuration to use across
// various components. These variables should not be modified or
// adjusted directly; you should predefine the variables in your own project,
// to override these default settings.


/// Namespace
//
// By default all components are namespaced with `jm-`, this allows us to
// share components without the chance of there being any conflicts within existing
// products. It also helps with sharing components across products.
//
// @type String
//
$jm-namespace: 'jm-' !default;



/// Spacing
//
// Spacing is based on an 8px baseline and multiples of this number, where possible
// this baseline and multiples of should act as your default spacing unit. This helps to
// ensure we have consistent spacing across products.
//
// @type Number (with units)
//
$jm-spacing-unit: 8px !default;

// We also make available an alternative spacing unit based on a 12px baseline to allow more
// flexibility with spacing elements
//
// @type Number (with units)
//
$jm-alt-spacing-unit: 12px !default;



/// Base settings
//
// Base settings are used primarily by our tools at the moment but there use could change in
// the future.

// Base font size identifies the font-size of the HTML element thus allowing consistent
// calculation of rem units
//
// @type Number (with units)
//
$jm-base-font-size: 16px !default;
$jm-base-line-height: 24px !default;



/// Breakpoints
//
// Our global breakpoints allow us to make major changes in the grid and use typography
// consistently across our products.
//
// Between these global breakpoints you can also add component breakpoints where the content needs it.
//

// The prefix applied to all GEL breakpoints
//
// @type String
//
$jm-breakpoint-prefix: 'u-bp-' !default;

// The names applied to each of our breakpoints. We're taking a t-shirt sizing naming convention
//
// @type Map
//
$jm-breakpoint-names: (xs, s, m, l, xl, xxl) !default;

// The widths of our major breakpoints
//
// @type Map
//
$jm-breakpoint-sizes: (240px, 400px, 600px, 900px, 1008px, 1280px) !default;

// If we're generating a fixed width output which breakpoint to use as the maximum
//
// @type String
//
$jm-breakpoint-static: u-bp-l !default;


// Loop through each of our breakpoint-sizes, map this with the appropriate name
// and append it to the $mq-breakpoints map.
$jm-breakpoints: ();
@each $breakpoint in $jm-breakpoint-sizes {
  $i: index($jm-breakpoint-sizes, $breakpoint);
  $breakpoint-name: #{$jm-breakpoint-prefix}#{nth($jm-breakpoint-names, $i)};

  $jm-breakpoints: map-merge($jm-breakpoints, ($breakpoint-name: $breakpoint)) !global;
}



/// MQ Config
//
// We're making use of the Guardians Sass MQ script to handle our media queries,
// it also handles outputing a static version without Media Queries for older
// versions of IE

// MQ expects a Sass Map containing the available breakpoints
$mq-breakpoints: $jm-breakpoints;

// In order to output the appropriate styles for older versions of IE which don't
// support Media Queries we need to define which breakpoint we want styles output for
$mq-static-breakpoint: #{$jm-breakpoint-static};



// Define a variable so we can tell the other components the settings are available
$jm-settings-available: true;
