///*------------------------------------*\
//    # GLOBAL SETTINGS
//\*------------------------------------*/

// typography
$gel-type-enable--markup-output: true !default;
$gel-type-enable--base-elements: false !default;

// grid
$gel-grid-1280-toggle-class: 'b-pw-1280' !default;
$gel-grid-breakpoints: (xs, s, m, l, xl) !default;
$gel-grid-breakpoints--1280: (xxl) !default;
$gel-grid-enable--markup-output: true !default;

// Colour palette
$gel-color--white: #fff;
$gel-color--orange: #e6711b;
$gel-color--cod-gray: #767676;
$gel-color--tundora: #404040;
$gel-color--black: #121212;
$gel-color--dusty-gray: #ccc;
$gel-color--alto: #dcdcdc;
$gel-color--gallery: #f5f5f5;

$jm-global-text-color: inherit;
$jm-global-bg-color: inherit;

$sp-c-black: #121212;
$sp-c-charcoal: #252525;
$sp-c-cloud: #ededed;
$sp-c-live-blue: #1169f6;
$sp-c-mist: #f7f7f5;
$sp-c-mortar: #5a5a5a;
$sp-c-silver: #dbdbdb;
$sp-c-solitude-blue: #e5f2ff;
$sp-c-yellow: #ffdf43;
$sp-c-white: #fff;
