<main class="jm-demo-content u-pb++">
  <div class="o-wrap">
    <div class="o-layout o-layout--center">
      <div class="o-layout__item u-10/12@xxl">
        <div class="c-demo-controls jm-type-controls">
          <p class="jm-type-controls__label jm-double-pica u-mb">Your device is currently using:</p>
          <p class="jm-type-controls__group-name jm-great-primer u-mb-"></p>
          <div class="c-demo-controls__options jm-brevier-bold">
            <button class="c-demo-controls__option c-grid-controls__option-toggle" id="bold-toggle">Toggle Bold On</button>
            <button class="c-demo-controls__option c-grid-controls__option-toggle" id="touch-toggle">Toggle Touch Off</button>
          </div>
          <p class="jm-type-controls__example-device jm-brevier"></p>
        </div>

        <div class="jm-type-demo-list">
          <article class="jm-type-demo jm-canon" data-type-class="canon">
            <div class="jm-type-demo__class jm-long-primer">
              <h2 class="jm-type-demo__class-name jm-long-primer">Canon</h2><!--
                                     --><p class="jm-type-demo__class-html jm-brevier">(<code>jm-canon</code>)</p>
            </div>
            <div class="o-layout">
              <div class="o-layout__item u-1/3@l">
                <p class="jm-type-demo__sample-scale"><span class="jm-type-demo__settings"></span> AaGg</p>
              </div>
              <div class="o-layout__item u-2/3@l">
                <p>Final preparations have begun for the London Paralympics opening ceremony, heralding 11 days of
                  competition for athletes with disabilities</p>
              </div>
            </div>
          </article>
          <article class="jm-type-demo jm-trafalgar" data-type-class="trafalgar">
            <div class="jm-type-demo__class jm-long-primer">
              <h2 class="jm-type-demo__class-name jm-long-primer">Trafalgar</h2><!--
                                     --><p class="jm-type-demo__class-html jm-brevier">(<code>jm-trafalgar</code>)
            </p>
            </div>
            <div class="o-layout">
              <div class="o-layout__item u-1/3@l">
                <p class="jm-type-demo__sample-scale"><span class="jm-type-demo__settings"></span> AaGg</p>
              </div>
              <div class="o-layout__item u-2/3@l">
                <p>Final preparations have begun for the London Paralympics opening ceremony, heralding 11 days of
                  competition for athletes with disabilities</p>
              </div>
            </div>
          </article>
          <article class="jm-type-demo jm-double-pica" data-type-class="double-pica">
            <div class="jm-type-demo__class jm-long-primer">
              <h2 class="jm-type-demo__class-name jm-long-primer">Double Pica</h2><!--
                                     --><p class="jm-type-demo__class-html jm-brevier">(<code>jm-double-pica</code>)
            </p>
            </div>
            <div class="o-layout">
              <div class="o-layout__item u-1/3@l">
                <p class="jm-type-demo__sample-scale"><span class="jm-type-demo__settings"></span> AaGg</p>
              </div>
              <div class="o-layout__item u-2/3@l">
                <p>Final preparations have begun for the London Paralympics opening ceremony, heralding 11 days of
                  competition for athletes with disabilities</p>
              </div>
            </div>
          </article>
          <article class="jm-type-demo jm-great-primer" data-type-class="great-primer">
            <div class="jm-type-demo__class jm-long-primer">
              <h2 class="jm-type-demo__class-name jm-long-primer">Great Primer</h2><!--
                                     --><p class="jm-type-demo__class-html jm-brevier">(<code>jm-great-primer</code>)
            </p>
            </div>
            <div class="o-layout">
              <div class="o-layout__item u-1/3@l">
                <p class="jm-type-demo__sample-scale"><span class="jm-type-demo__settings"></span> AaGg</p>
              </div>
              <div class="o-layout__item u-2/3@l">
                <p>Final preparations have begun for the London Paralympics opening ceremony, heralding 11 days of
                  competition for athletes with disabilities</p>
              </div>
            </div>
          </article>
          <article class="jm-type-demo jm-pica" data-type-class="pica">
            <div class="jm-type-demo__class jm-long-primer">
              <h2 class="jm-type-demo__class-name jm-long-primer">Pica</h2><!--
                                     --><p class="jm-type-demo__class-html jm-brevier">(<code>jm-pica</code>)</p>
            </div>
            <div class="o-layout">
              <div class="o-layout__item u-1/3@l">
                <p class="jm-type-demo__sample-scale"><span class="jm-type-demo__settings"></span> AaGg</p>
              </div>
              <div class="o-layout__item u-2/3@l">
                <p>Final preparations have begun for the London Paralympics opening ceremony, heralding 11 days of
                  competition for athletes with disabilities</p>
              </div>
            </div>
          </article>
          <article class="jm-type-demo jm-long-primer" data-type-class="long-primer">
            <div class="jm-type-demo__class jm-long-primer">
              <h2 class="jm-type-demo__class-name jm-long-primer">Long Primer</h2><!--
                                     --><p class="jm-type-demo__class-html jm-brevier">(<code>jm-long-primer</code>)
            </p>
            </div>
            <div class="o-layout">
              <div class="o-layout__item u-1/3@l">
                <p class="jm-type-demo__sample-scale"><span class="jm-type-demo__settings"></span> AaGg</p>
              </div>
              <div class="o-layout__item u-2/3@l">
                <p>Final preparations have begun for the London Paralympics opening ceremony, heralding 11 days of
                  competition for athletes with disabilities</p>
              </div>
            </div>
          </article>
          <article class="jm-type-demo jm-brevier" data-type-class="brevier">
            <div class="jm-type-demo__class jm-long-primer">
              <h2 class="jm-type-demo__class-name jm-long-primer">Brevier</h2><!--
                                     --><p class="jm-type-demo__class-html jm-brevier">(<code>jm-brevier</code>)</p>
            </div>
            <div class="o-layout">
              <div class="o-layout__item u-1/3@l">
                <p class="jm-type-demo__sample-scale"><span class="jm-type-demo__settings"></span> AaGg</p>
              </div>
              <div class="o-layout__item u-2/3@l">
                <p>Final preparations have begun for the London Paralympics opening ceremony, heralding 11 days of
                  competition for athletes with disabilities</p>
              </div>
            </div>
          </article>
          <article class="jm-type-demo jm-minion" data-type-class="minion">
            <div class="jm-type-demo__class jm-long-primer">
              <h2 class="jm-type-demo__class-name jm-long-primer">Minion</h2><!--
                                     --><p class="jm-type-demo__class-html jm-brevier">(<code>jm-minion</code>)</p>
            </div>
            <div class="o-layout">
              <div class="o-layout__item u-1/3@l">
                <p class="jm-type-demo__sample-scale"><span class="jm-type-demo__settings"></span> AaGg</p>
              </div>
              <div class="o-layout__item u-2/3@l">
                <p>Final preparations have begun for the London Paralympics opening ceremony, heralding 11 days of
                  competition for athletes with disabilities</p>
              </div>
            </div>
          </article>
          <article class="jm-type-demo jm-type-demo--body-copy jm-body-copy" data-type-class="body-copy">
            <div class="jm-type-demo__class jm-long-primer">
              <h2 class="jm-type-demo__class-name jm-long-primer">Body Copy</h2><!--
                                     --><p class="jm-type-demo__class-html jm-brevier">(<code>jm-body-copy</code>)
            </p>
            </div>
            <div class="o-layout">
              <div class="o-layout__item u-1/3@l">
                <p class="jm-type-demo__sample-scale"><span class="jm-type-demo__settings"></span> AaGg</p>
              </div>
              <div class="o-layout__item u-2/3@l">
                <p>To be used for article & story body copy only. Final preparations have begun for the London
                  Paralympics opening ceremony, heralding 11 days of competition for athletes with disabilities</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</main>
