<header role="banner" class="c-demo-header">
  <div class="c-demo-header__banner">
    <div class="gel-wrap u-clearfix">
      <div class="c-demo-header__brand">
        <a class="c-demo-header__brand-logo" href="http://www.bbc.co.uk/gel">
          <svg aria-label="BBC GEL Logo" width="164" height="39">
            <title>BBC GEL Logo</title>
            <image xlink:href="assets/images/bbc-gel-logo.svg" src="assets/images/bbc-gel-logo.png" width="100%"
                   height="100%"></image>
          </svg>
        </a>
        <i class="c-demo-header__brand-beta gel-minion-bold">Beta</i>
      </div>

      <a class="c-demo-header__banner-link gel-long-primer-bold"
         href="http://www.bbc.co.uk/gel/guidelines/typography">
        Go to BBC GEL
      </a>
    </div>
  </div>
  <div class="c-demo-header__intro">
    <div class="gel-wrap">
      <div class="gel-layout">
        <div class="gel-layout__item gel-10/12@xxl">
          <div class="gel-layout">
            <div class="gel-layout__item gel-3/4@l">
              <h1 class="c-demo-header__intro-title gel-canon-bold">Typography</h1>
              <p>This is a working demo of the <a href="http://www.bbc.co.uk/gel/guidelines/typography">GEL Typography Guidelines</a>. This demo shows how our typographic styles are set across the BBC, online.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

