<header role="banner" class="c-demo-header">
  <div class="c-demo-header__banner">
    <div class="o-wrap u-clearfix">
      <div class="c-demo-header__brand">
        <a class="c-demo-header__brand-logo" href="http://www.bbc.co.uk/gel">
          <svg aria-label="BBC GEL Logo" width="164" height="39">
            <title>BBC GEL Logo</title>
            <image xlink:href="assets/images/bbc-gel-logo.svg" src="assets/images/bbc-gel-logo.png" width="100%"
                   height="100%"></image>
          </svg>
        </a>
        <i class="c-demo-header__brand-beta jm-minion-bold">Beta</i>
      </div>

      <a class="c-demo-header__banner-link jm-long-primer-bold"
         href="http://www.bbc.co.uk/gel/guidelines/typography">
        Go to BBC GEL
      </a>
    </div>
  </div>
  <div class="c-demo-header__intro">
    <div class="o-wrap">
      <div class="o-layout">
        <div class="o-layout__item u-3/4@l">
          <h1 class="c-demo-header__intro-title jm-canon-bold">Grid</h1>
          <p>This is a working demo of the <a href="http://www.bbc.co.uk/gel/guidelines/grid">GEL Grid Guidelines</a>.
            The demo shows how our flexible, percentage-based grid works and how you can use it to create a BBC
            website.</p>
        </div>
      </div>
    </div>
  </div>
</header>
