<main class="u-pt+ u-pb++">
  <div class="o-wrap">
    <div class="o-layout">
      <div class="o-layout__item u-2/3@l" id="responsive-story-page">
        <article class="c-story" data-comment-count>
          <h1>Ante Senectus Quam Inceptos Primis Ullamcorper Eu</h1>
          <div class="c-story__byline">
            <div class="o-flag byline">
              <div class="o-flag__img">
                <img class="c-story__byline-img" src="assets/images/user.png">
              </div>
              <div class="o-flag__body">
                <p class="gel-long-primer">By Foo Bar</p>
                <p><b class="gel-long-primer">Example writer</b></p>
              </div>
            </div>
          </div>
          <div class="c-story__info u-clearfix">
            <div class="c-story-info__list">
              <ul class="o-list-inline o-list-inline--divided gel-brevier">
                <li class="c-story-info__item c-story-info__item--time">
                <span class="timestamp">
                  <i aria-hidden="true" class="timestamp__icon gelicon gelicon--duration"></i>
                  <time datetime="20170413">
                    <abbr class="o-abbr-on o-abbr-off@medium" title="13 April 2017"><span>13 Apr</span></abbr>
                  </time>
                </span>
                </li>
                <li>
                <span class="section-tag--nested-link gel-brevier section-tag">
                  <span class="u-visually-hidden">From the section</span>
                  <a class="c-inline-link" href="#">Examples</a>
                </span>
                </li>
              </ul>
            </div>
          </div>
          <div id="story-body" class="c-story__body gel-body-copy">
            <figure class="c-media-asset c-media-asset--lead">
              <div class="c-media-asset__body media">
                <div class="c-media-asset__image o-responsive-image o-responsive-image--16by9">
                  <img
                    src="https://unsplash.it/240/160?image=1056"
                    srcset="https://unsplash.it/240/160?image=1056 240w, https://unsplash.it/320/213?image=1056 320w, https://unsplash.it/480/320?image=1056 480w, https://unsplash.it/624/416?image=1056 624w, https://unsplash.it/800/533?image=1056 800w, https://unsplash.it/976/650?image=1056 976w"
                    sizes="(min-width: 900px) 50vw, (min-width: 600px) 70vw, 100vw" alt="1056">
                </div>
              </div>
              <figcaption class="c-media-asset__caption gel-brevier">
                Netus tincidunt, cursus tempor aenean sem orci augue, porttitor nibh.
              </figcaption>
            </figure>
            <p><b>Lorem molestie curae; hendrerit etiam. Nisl Aliquet, lacinia maecenas lacus cum accumsan neque lacus
              fermentum
              mi.
              Sagittis eget lacinia Congue aptent sit <em>metus</em> felis aliquam mi. Vitae molestie tempor convallis
              fermentum
              Cum. Senectus natoque est velit. Velit. Ridiculus <em>enim</em> vel proin torquent dictum hendrerit in
              hac, orci
              varius sagittis orci, augue diam potenti. Mauris.</b></p>
            <h2>Nisi Enim Mollis Ultricies Curabitur</h2>
            <p>Pharetra nascetur urna urna vulputate torquent imperdiet. Egestas tortor aliquet cum. Accumsan. Auctor
              conubia. At.
              Libero sollicitudin <a href="https://en.wikipedia.org/wiki/Special:Random">eros</a> sapien pellentesque
              magnis malesuada fermentum Senectus tortor sodales nisi platea
              pellentesque suspendisse. Consequat quisque <em>sapien</em> fames per. Urna torquent. Lorem, donec.
              Nostra.</p>
            <p>Sapien odio. Rutrum dapibus litora. Conubia torquent a, hymenaeos magna. Odio lectus pretium leo risus
              commodo
              habitant aptent ante consectetuer massa. Cras.</p>
            <h3>Nec Ligula Aenean Nostra Vehicula Ad</h3>
            <p>Elit sapien porttitor adipiscing justo scelerisque nec condimentum Interdum phasellus a ridiculus tempus
              quis ut
              vehicula Potenti etiam praesent diam <strong>nonummy</strong> torquent. In felis pharetra tempor velit
              primis
              ridiculus et amet mi condimentum natoque mi penatibus libero pede integer bibendum. Dis vitae eros
              <strong>nam</strong> cubilia orci augue. Scelerisque hymenaeos in.</p>
            <h2>Mattis Congue Vel Cubilia Aliquet Eros</h2>
            <figure class="c-media-asset">
              <div class="c-media-asset__body">
                <div class="c-media-asset__image o-responsive-image o-responsive-image--16by9">
                  <img class="lazyautosizes sp-lazyloaded"
                       src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                       data-sizes="auto"
                       alt="994"
                       data-srcset="https://unsplash.it/240/160?image=994 240w, https://unsplash.it/320/213?image=994 320w, https://unsplash.it/480/320?image=994 480w, https://unsplash.it/624/416?image=994 624w, https://unsplash.it/800/533?image=994 800w, https://unsplash.it/976/650?image=994 976w"
                       sizes="605px"
                       srcset="https://unsplash.it/240/160?image=994 240w, https://unsplash.it/320/213?image=994 320w, https://unsplash.it/480/320?image=994 480w, https://unsplash.it/624/416?image=994 624w, https://unsplash.it/800/533?image=994 800w, https://unsplash.it/976/650?image=994 976w">
                </div>
              </div>
              <figcaption class="c-media-asset__caption gel-brevier">Parturient phasellus. In eu eleifend litora
                habitant in
                Hymenaeos molestie.
              </figcaption>
            </figure>
            <p>Duis dui hac posuere blandit adipiscing, cubilia aliquam at libero est sagittis, ridiculus quis commodo
              suscipit
              tellus, dictumst ultricies a fringilla sapien magna ut elit pulvinar facilisi blandit. Platea montes
              libero quisque
              vestibulum. Curabitur consequat pharetra scelerisque mollis enim <em>donec</em> suscipit magnis duis. Dui.
              Justo.</p>
            <h2>Adipiscing Augue Arcu</h2>
            <p>Habitant facilisis mi est fringilla proin dapibus ligula convallis risus suscipit <em>cum</em> mattis
              libero
              dictumst curabitur molestie venenatis morbi quisque condimentum placerat phasellus eu enim hac senectus
              amet cras
              vehicula gravida. Massa ac donec. Rhoncus commodo quam. Nisi sem magnis suspendisse iaculis inceptos porta
              nisi id
              nam. Tempus non taciti adipiscing. Vel.</p>
            <aside class="c-pullout">
              <blockquote class="c-pull-quote">
                <div class="c-pull-quote__icon">
                  <i class="fa fa-quote-left" aria-hidden="true">&ldquo;</i>
                </div>
                <div class="c-pull-quote__body">
                  <p>Elementum laoreet curabitur lacus ultricies lacus donec fermentum est mi</p>
                </div>
                <footer class="c-pull-quote__cite gel-brevier">
                  <cite class="c-pull-quote__cite-name">Anonymous</cite>
                </footer>
              </blockquote>
            </aside>
            <p>Donec platea scelerisque ipsum malesuada Eros, ligula felis sociis, placerat pulvinar id nostra nisl.
              Netus urna
              orci. Rhoncus vivamus cubilia. Quam lacus eleifend a lorem vehicula dis <strong>interdum</strong> neque
              mus.
              Fringilla parturient sem dapibus congue risus egestas facilisi nibh molestie primis semper eget. Vehicula
              duis
              Laoreet libero <strong>auctor</strong> suspendisse, magnis ridiculus. Consequat.</p>
            <p>Fames vivamus platea. Magna nullam ligula ac. Cubilia penatibus habitant quisque justo iaculis ut
              <strong>Felis</strong> <strong>gravida</strong> tellus <em>dignissim</em> molestie. Litora taciti sed
              curabitur.
              Nullam magnis semper curabitur tempus primis vel duis dapibus posuere, potenti.</p>
            <h2>Eleifend Quis Turpis Dui Quisque Enim Mattis</h2>
            <p>Ultricies nec gravida. Justo lobortis aliquam enim urna posuere commodo iaculis ac purus ridiculus etiam
              aenean.
              Hac pretium sed tristique imperdiet tempus vehicula blandit ut sollicitudin Placerat congue tempor nostra
              orci.
              Magna. Eros rutrum felis velit nascetur montes.</p>
            <h2>Scelerisque Luctus Cursus Mollis Tempus</h2>
            <p>Sagittis interdum pretium <strong>eget</strong> vel nullam. Nisl praesent euismod varius. Pharetra Magna
              nec ante
              libero lobortis facilisis consequat Neque aliquam lorem vehicula, tellus eleifend diam scelerisque elit
              urna ligula
              mattis <strong>hac</strong> mus. Proin aliquet taciti. Consectetuer facilisis in egestas hac lobortis leo
              augue.</p>
            <p>Ridiculus vel nam aliquam lorem Torquent. Mi, habitant proin velit netus netus imperdiet orci sapien
              sociosqu
              commodo risus cras interdum. Sem commodo pretium netus ante lectus ante senectus rutrum. Tempor porttitor
              viverra
              aliquam imperdiet eu nullam <em>nam</em> hymenaeos magnis hac malesuada mauris aenean et sodales
              vestibulum rhoncus,
              platea porttitor.</p>
            <p>Vehicula, dignissim inceptos eleifend nullam ullamcorper. Volutpat accumsan diam Dictum. Nunc sit. Donec
              habitasse
              posuere netus dignissim risus laoreet fusce dui.</p>
          </div>
        </article>
      </div>
      <div class="o-layout__item u-1/3@l c-sidebar">
        <section class="c-sidebar-widget">
          <h2 class="c-sidebar-widget__h2">Side content</h2>
        </section>
      </div>
    </div>
  </div>
</main>
