<header role="banner" class="c-page-header">
  <div class="c-page-header__banner">
    <div class="gel-wrap u-clearfix">
      <div class="c-page-header__brand">
        <a class="c-page-header__brand-logo" href="#">
          {{!-- logo here --}}
        </a>
      </div>
    </div>
  </div>
</header>
