<main class="c-main">
  <div class="gel-wrap">
    <div class="gel-layout gel-layout--center">
      <article class="c-article">
        <h2>Home Page</h2>
        <div class="gel-layout u-mt+">
          <div class="gel-layout__item">
            <p>100%</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</main>
