<main id="page-top" class="c-main">
  <div class="gel-wrap">
    <div class="gel-layout gel-layout--center">
      <article class="c-article">
        <h2>Home Page</h2>
        <div class="gel-layout u-mt+">
          <div class="gel-layout__item">
            <p>Aenean lorem metus laoreet porta. Arcu orci orci torquent nullam, accumsan. Nec. Taciti, elit sagittis
              ultrices nostra. <strong>Fusce</strong> litora dictum tincidunt nisl vitae tortor <strong>cras</strong>
              taciti at id imperdiet rhoncus.</p>
            <p>Inceptos fermentum libero cras. Vehicula nisi netus gravida dapibus elementum sodales lorem, id tempor
              potenti curabitur Fringilla. Habitasse sodales tristique, mollis. Hendrerit, turpis montes faucibus netus
              accumsan. Tincidunt phasellus consectetuer. Hendrerit aliquet quisque gravida proin
              <strong>pulvinar</strong> amet <a href="https://en.wikipedia.org/wiki/Special:Random">consectetuer</a> leo montes <strong>aenean</strong> nostra.</p>
            <p>Lectus orci ultrices rutrum facilisis Porttitor. Commodo cubilia nunc senectus tellus proin. Nibh urna
              taciti scelerisque cursus, suscipit litora inceptos dolor iaculis hac ultricies laoreet. Cursus. <strong>Diam</strong>
              ad.</p>
          </div>
          <div class="gel-layout__item">
            <p><a href="#page-top">Back to top</a></p>
          </div>
        </div>
      </article>
    </div>
  </div>
</main>
