<main id="page-top" class="c-main">
  <div class="gel-wrap">
    <div class="gel-layout gel-layout--center">
      <article class="c-article">
        <h2>Home Page</h2>
        <div class="gel-layout u-mt+">
          <div class="gel-layout__item">
            <p>Aenean lorem metus laoreet porta. Arcu orci orci torquent nullam, accumsan. Nec. Taciti, elit sagittis
              ultrices nostra. <b>Bold</b> litora dictum tincidunt <em>emphasis</em> nisl vitae tortor <strong>strong</strong>
              taciti at id imperdiet rhoncus.</p>
            <p>Inceptos fermentum libero cras. Vehicula nisi netus gravida dapibus elementum sodales lorem <q>this is a quote. <b>bold</b> and <strong>strong</strong></q>, id tempor
              potenti curabitur Fringilla. Habitasse sodales tristique, mollis. Hendrerit, turpis montes faucibus netus
              accumsan. Tincidunt phasellus consectetuer. Hendrerit aliquet quisque gravida proin
              <strong>pulvinar</strong> amet <a href="https://en.wikipedia.org/wiki/Special:Random">external link</a> leo montes <strong>aenean</strong> nostra.</p>
            <p>Lectus orci ultrices rutrum facilisis Porttitor. Commodo cubilia nunc senectus tellus proin. Nibh urna
              taciti scelerisque cursus, suscipit litora inceptos dolor iaculis <i>italic</i> <i class="u-bold">italic and bold</i> hac ultricies laoreet. Cursus. <strong>Diam</strong>
              ad.</p>
          </div>
          <div class="gel-layout__item">
            <aside>
              <blockquote>This is a <strong>blockquote</strong> you know?</blockquote>
            </aside>
          </div>
          <div class="gel-layout__item">
            <p><a href="#page-top">Back to top</a></p>
          </div>
        </div>
      </article>
    </div>
  </div>
</main>
