/*------------------------------------*\
    # TABLE
\*------------------------------------*/

/**
 * A simple object for manipulating the structure of HTML `table`s.
 */
.o-table {
  width: 100%;
  border-collapse: separate;
  margin-bottom: double($jm-spacing-unit);
}

/**
 * Equal-width table cells.
 *
 * `table-layout: fixed` forces all cells within a table to occupy the same
 * width as each other. This also has performance benefits: because the browser
 * does not need to (re)calculate cell dimensions based on content it discovers,
 * the table can be rendered very quickly. Further reading:
 * https://developer.mozilla.org/en-US/docs/Web/CSS/table-layout#Values
 */
.o-table--fixed {
  table-layout: fixed;
}

/**
 * Add a parent div around a table with this class to allow it
 * to be scrollable horizontally if the viewport is to small.
 */
.o-table-container {
  width: 100%;
  overflow-y: auto;
}

.o-table__head {
  background: $jm-demo-color-mist;

  .o-table__cell {
    border-bottom: 1px solid $jm-demo-color-silver;

    padding-top: double($jm-spacing-unit);
    padding-bottom: halve($jm-spacing-unit);

    vertical-align: bottom;
  }
}

/**
 * Adds hover state to table row if required.
 */
.o-table__row {
  &:focus,
  &:hover {
    background-color: $jm-demo-color-mist;
  }
}

.o-table__row--disabled {
  &,
  .o-table__link {
    color: $jm-demo-color-mortar;
  }
}

.o-table__row--highlighted {
  background-color: $jm-demo-color-solitude-blue;

  &:focus,
  &:hover {
    background-color: darken($jm-demo-color-solitude-blue, 5%);
  }

  .o-table__cell {
    border-bottom: 1px solid darken($jm-demo-color-solitude-blue, 4%);
  }
}

/**
 * Use to break up tables to show boundaries or breaks.
 */
.o-table__row--break {
  .o-table__cell {
    border-bottom: 1px dashed $jm-demo-color-charcoal;
  }
}

/**
 * 1. Force first and last cells to have increased padding
 */
.o-table__cell {
  border-bottom: 1px solid $jm-demo-color-cloud;
  padding: $jm-spacing-unit halve($jm-spacing-unit);
  text-align: center;

  &:first-child {
    #{$padding-left}: $jm-spacing-unit; /* [1] */
  }

  &:last-child {
    #{$padding-right}: $jm-spacing-unit; /* [1] */
  }
}

.o-table__cell--flush {
  padding: 0;
}

.o-table__cell--no-border {
  border-bottom: 0;
}

.o-table__cell--border-right {
  #{$border-right}: 1px solid $jm-demo-color-cloud;
}

.o-table__cell--border-left {
  #{$border-left}: 1px solid $jm-demo-color-cloud;
}

.o-table__cell--left {
  text-align: flip(left, right);
}

.o-table__cell--center {
  text-align: center;
}

.o-table__cell--right {
  text-align: flip(right, left);
}

.o-table__cell--bold {
  font-weight: bold;
}

.o-table__cell--break {
  border-top: 1px dashed $jm-demo-color-charcoal;
}

.o-table__link {
  display: block;

  color: $jm-demo-color-black;
  font-weight: bold;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}
