%o-shadow-elevation0 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 14);
}

%o-shadow-elevation1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16),
  0 2px 10px 0 rgba(0, 0, 0, .12);
}

%o-shadow-elevation2 {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .26);
}

%o-shadow-elevation3 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
}

