/*------------------------------------*\
    # BULLET
\*------------------------------------*/

/**
 * The `bullet` pattern is used to align an icon with some text,
 * similar to how a bullet point has the icon and the text
 *
    <span class="o-bullet [ o-bullet- | o-bullet+ | o-bullet--essential  | o-bullet--block | o-bullet--reverse ]">
        <span class="o-bullet__icon gel-icon">
            <svg>
                <use xlink:href="#gel-icon-duration"></use>
            </svg>
        </span>
        <span class="o-bullet__text">18:30 - 18:34</span>
    </span>
 *
 */

.o-bullet {
  display: inline-block;
}

/**
 * 1.
 *  |[icon] Text here |
 *  |wraps around     |
 *  |below the icon   |
 *
 * 2. Scale the icon proportionally with the text
 *
 * 3. Essential Modifier - only essential icons are shown on core
 */

.o-bullet__icon { /* [1] */
  display: inline-block;
  visibility: visible;
  height: 1em; /* [2] */
  width: 1em; /* [2] */
  vertical-align: middle;

  .o-bullet--essential & { /* [3] */
    display: inline-block;
    visibility: visible;
  }
}

/**
 *  4. Block Modifier
 *  |[icon] Text here does |
 *  |       not wrap around|
 *  |       below icon     |
 *  This is styled to look like a traditional list, but with custom icons
 *  The icon sits on top of the text's left margin, so it's recommended to use .u-bullet+
 *  for it to have sufficient spacing
 *
 *  Example usage:
    <span class="o-bullet o-bullet+ o-bullet--block">
        <span class="o-bullet__icon gel-icon">
            <svg>
                <use xlink:href="#gel-icon-duration"></use>
            </svg>
        </span>
        <span class="o-bullet__text">18:30 - 18:34</span>
    </span>
 */

.o-bullet--block { /* [4] */
  position: relative;
}

.o-bullet--block .o-bullet__icon { /* [4] */
  #{$left}: 0;
  position: absolute;
  top: 0;
}

.o-bullet__text {
  display: inline-block;
  vertical-align: middle;
}

/* SPACING */

/**
 * For non-essential icons, we only want the space before text
 * on enhanced, since the icon isn't shown on core
 */
/**
 * If both icon and text are present we need to space them out
 */
.o-bullet__icon + .o-bullet__text {
  #{$margin-left}: $jm-spacing-unit;
}

/**
 * Reduced spacing between icon and text
 */
.o-bullet\- {
  .o-bullet__icon + .o-bullet__text {
    #{$margin-left}: halve($jm-spacing-unit);
  }
}

/**
 * Increased spacing between icon and text
 */
.o-bullet\+ {
  .o-bullet__icon + .o-bullet__text {
    #{$margin-left}: double($jm-spacing-unit);
  }
}

/*
 * For essential icons, we want spacing between the icon and text
 * on both core and enhanced
 */
.o-bullet--essential {
  .o-bullet__icon + .o-bullet__text {
    #{$margin-left}: $jm-spacing-unit;
  }

  .o-bullet\- {
    .o-bullet__icon + .o-bullet__text {
      #{$margin-left}: halve($jm-spacing-unit);
    }
  }

  .o-bullet\+ {
    .o-bullet__icon + .o-bullet__text {
      #{$margin-left}: double($jm-spacing-unit);
    }
  }
}

/**
 * If you need the icon to sit after the text you can reverse
 * the bullet
 */
.o-bullet--reverse {
  direction: rtl;

  .o-bullet__icon {
    #{$margin-right}: 0;
    #{$margin-left}: halve($jm-spacing-unit);
  }
}
