/**
 * <abbr class="o-abbr-on o-abbr-off@medium" title="13 April 2017">
 *    <span>13 Apr</span>
 * </abbr>
 */
.o-abbr-off:after {
  content: attr(title);
}

.o-abbr-off span {
  display: none;
}

.o-abbr-on:after {
  content: '';
}

.o-abbr-on span {
  display: inline;
}

@include mq($from: u-bp-xs) {
  .o-abbr-off\@compact:after {
    content: attr(title);
  }

  .o-abbr-off\@compact span {
    display: none;
  }

  .o-abbr-on\@compact:after {
    content: '';
  }

  .o-abbr-on\@compact span {
    display: inline;
  }
}

@include mq($from: u-bp-s) {
  .o-abbr-off\@small:after {
    content: attr(title);
  }

  .o-abbr-off\@small span {
    display: none;
  }

  .o-abbr-on\@small:after {
    content: '';
  }

  .o-abbr-on\@small span {
    display: inline;
  }
}

@include mq($from: u-bp-m) {
  .o-abbr-off\@medium:after {
    content: attr(title);
  }

  .o-abbr-off\@medium span {
    display: none;
  }

  .o-abbr-on\@medium:after {
    content: '';
  }

  .o-abbr-on\@medium span {
    display: inline;
  }
}

@include mq($from: u-bp-l) {
  .o-abbr-off\@wide:after {
    content: attr(title);
  }

  .o-abbr-off\@wide span {
    display: none;
  }

  .o-abbr-on\@wide:after {
    content: '';
  }

  .o-abbr-on\@wide span {
    display: inline;
  }
}
