//
// Fonts
//––––––––––––––––––––––––––––––––––––––––––––––––––

// https://www.smashingmagazine.com/2013/02/setting-weights-and-styles-at-font-face-declaration/

// Regular font
@mixin base-font-regular() {
  font-family: $jm-type-base-font-stack-sans-serif;
  font-style: normal !important;
  font-weight: 400 !important;
}

// Italic font
@mixin base-font-italic() {
  font-family: $jm-type-base-font-stack-sans-serif;
  font-style: italic !important;
  font-weight: 400 !important;
}

// Bold font
@mixin base-font-bold() {
  font-family: $jm-type-base-font-stack-sans-serif;
  font-style: normal !important;
  font-weight: 700 !important;
}

// Bold Italic font
@mixin base-font-bold-italic() {
  font-family: $jm-type-base-font-stack-sans-serif;
  font-style: italic !important;
  font-weight: 700 !important;
}

// Heading font
@mixin heading-font() {
  font-family: $jm-type-base-font-stack-serif;
  font-style: normal !important;
  font-weight: 400 !important;
}
