/*------------------------------------*\
    # TYPE DEMO
\*------------------------------------*/

.jm-type-demo {
  margin-bottom: double($jm-spacing-unit);
  padding-top: double($jm-spacing-unit);
  border-top: 1px solid #dcdcdc;
}

.jm-type-demo:first-child {
  border-top: 0;
}

.jm-type-demo--body-copy {
  margin-top: 64px;
  border-top-color: #dbdbdb;
  border-top-width: 2px;
}

/**
 * 1. Just in case this is nested within a bold type class
 * 2. Unset minion if you're using minion
 */
.jm-type-demo__class {
  margin-bottom: $jm-spacing-unit;
  color: #565656;
  letter-spacing: 0; /* [1] */
  text-transform: none; /* [2] */
}

.jm-type-demo__class-name,
.jm-type-demo__class-html {
  display: inline-block;
  vertical-align: middle;
}

.jm-type-demo__class-name {
  margin-right: $jm-spacing-unit;
}

.jm-type-demo__class-html {
  margin-bottom: 0;
}

/**
 * 1. Remove an text-transforms which might be missing with the look and feel
 */
.jm-type-demo__sample-scale {
  text-transform: none; /* [1] */
}

.jm-type-demo__settings {
  color: #e6711b;
}

/**
 * Remove any units from a given value
 */

/**
 * Get the type settings for the specified group
 */

/**
 * Output the type settings for each font-class for each group
 */
[data-type-class="canon"] .jm-type-demo__settings:after {
  content: "28/32";
}

@media (min-width: 20em) {
  [data-type-class="canon"] .jm-type-demo__settings:after {
    content: "32/36";
  }
}

@media (min-width: 37.5em) {
  [data-type-class="canon"] .jm-type-demo__settings:after {
    content: "52/56";
  }
  .no-touch [data-type-class="canon"] .jm-type-demo__settings:after {
    content: "44/48";
  }
}

[data-type-class="canon-bold"] .jm-type-demo__settings:after {
  content: "44/48";
}

[data-type-class="trafalgar"] .jm-type-demo__settings:after {
  content: "20/24";
}

@media (min-width: 20em) {
  [data-type-class="trafalgar"] .jm-type-demo__settings:after {
    content: "24/28";
  }
}

@media (min-width: 37.5em) {
  [data-type-class="trafalgar"] .jm-type-demo__settings:after {
    content: "36/40";
  }
  .no-touch [data-type-class="trafalgar"] .jm-type-demo__settings:after {
    content: "32/36";
  }
}

[data-type-class="trafalgar-bold"] .jm-type-demo__settings:after {
  content: "32/36";
}

[data-type-class="double-pica"] .jm-type-demo__settings:after {
  content: "20/24";
}

@media (min-width: 37.5em) {
  [data-type-class="double-pica"] .jm-type-demo__settings:after {
    content: "26/30";
  }
  .no-touch [data-type-class="double-pica"] .jm-type-demo__settings:after {
    content: "24/28";
  }
}

[data-type-class="double-pica-bold"] .jm-type-demo__settings:after {
  content: "24/28";
}

[data-type-class="great-primer"] .jm-type-demo__settings:after {
  content: "18/22";
}

@media (min-width: 37.5em) {
  [data-type-class="great-primer"] .jm-type-demo__settings:after {
    content: "21/24";
  }
  .no-touch [data-type-class="great-primer"] .jm-type-demo__settings:after {
    content: "20/24";
  }
}

[data-type-class="great-primer-bold"] .jm-type-demo__settings:after {
  content: "20/24";
}

@media (min-width: 20em) {
  [data-type-class="great-primer-bold"] .jm-type-demo__settings:after {
    content: "20/24";
  }
}

[data-type-class="pica"] .jm-type-demo__settings:after {
  content: "15/20";
}

@media (min-width: 20em) {
  [data-type-class="pica"] .jm-type-demo__settings:after {
    content: "16/20";
  }
}

@media (min-width: 37.5em) {
  [data-type-class="pica"] .jm-type-demo__settings:after {
    content: "18/22";
  }
  .no-touch [data-type-class="pica"] .jm-type-demo__settings:after {
    content: "16/20";
  }
}

[data-type-class="pica-bold"] .jm-type-demo__settings:after {
  content: "16/20";
}

[data-type-class="long-primer"] .jm-type-demo__settings:after {
  content: "15/18";
}

@media (min-width: 37.5em) {
  [data-type-class="long-primer"] .jm-type-demo__settings:after {
    content: "15/20";
  }
  .no-touch [data-type-class="long-primer"] .jm-type-demo__settings:after {
    content: "14/18";
  }
}

[data-type-class="long-primer-bold"] .jm-type-demo__settings:after {
  content: "14/18";
}

[data-type-class="brevier"] .jm-type-demo__settings:after {
  content: "14/16";
}

@media (min-width: 20em) {
  [data-type-class="brevier"] .jm-type-demo__settings:after {
    content: "14/18";
  }
}

@media (min-width: 37.5em) {
  .no-touch [data-type-class="brevier"] .jm-type-demo__settings:after {
    content: "13/16";
  }
}

[data-type-class="brevier-bold"] .jm-type-demo__settings:after {
  content: "13/16";
}

[data-type-class="minion"] .jm-type-demo__settings:after {
  content: "12/16";
}

@media (min-width: 37.5em) {
  [data-type-class="minion"] .jm-type-demo__settings:after {
    content: "13/16";
  }
  .no-touch [data-type-class="minion"] .jm-type-demo__settings:after {
    content: "12/16";
  }
}

[data-type-class="minion-bold"] .jm-type-demo__settings:after {
  content: "12/16";
}

[data-type-class="body-copy"] .jm-type-demo__settings:after {
  content: "15/20";
}

@media (min-width: 20em) {
  [data-type-class="body-copy"] .jm-type-demo__settings:after {
    content: "16/22";
  }
}

@media (min-width: 37.5em) {
  [data-type-class="body-copy"] .jm-type-demo__settings:after {
    content: "18/24";
  }
  .no-touch [data-type-class="body-copy"] .jm-type-demo__settings:after {
    content: "16/22";
  }
}
