/**
 * <aside class="c-pullout">
 *    <!-- content -->
 * </aside>
 */
.c-pullout {
  margin-right: 8.3333333333%;
  margin-bottom: 2rem;
  margin-left: 8.3333333333%;

  @include mq($from: u-bp-m) {
    float: right;
    clear: both;
    width: 33.33333%;
    margin-right: -5%;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
  }

  @include mq($from: u-bp-l) {
    margin-right: -7.1428571429%;
  }
}
