/*------------------------------------*\
    # DEMO HEADER
\*------------------------------------*/

.c-demo-header {
  margin-bottom: double($jm-spacing-unit);
}

.c-demo-header__github-link {
  display: block;
  margin: $jm-spacing-unit 0;

  object {
    max-width: 72px;
    vertical-align: middle;
  }
}

.c-demo-header__banner {
  border-top: 1px solid $jm-demo-color--alto;
  border-bottom: 1px solid $jm-demo-color--alto;
  padding: $jm-alt-spacing-unit 0;
}

.c-demo-header__banner-link,
.c-demo-header__banner-link:visited {
  display: block;
  position: relative;
  width: 100%;

  @include mq($from: 460px) {
    float: flip(right, left);
    width: auto;
  }

  @include mq($from: u-bp-xs) {
    min-width: 190px;
  }

  margin: 0;
  border: 1px solid $jm-demo-color--tundora;
  padding: double($jm-spacing-unit);

  color: $jm-demo-color--white;
  text-align: center;
  text-decoration: none;
  line-height: 1.2;

  appearance: none;
  background-color: $jm-demo-color--tundora;
  cursor: pointer;

  &:focus,
  &:hover {
    text-decoration: underline;
    background-color: #121212;
  }

  &:active {
    top: 1px;
    background-color: $jm-demo-color--orange;
    border-color: $jm-demo-color--orange;
  }
}

.c-demo-header__brand {
  display: block;
  margin-bottom: $jm-alt-spacing-unit;

  @include mq($from: 460px) {
    float: flip(left, right);
    margin-bottom: 0;
    padding: halve($jm-alt-spacing-unit) 0;
  }
}

.c-demo-header__brand-logo {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  &:active {
    top: 1px;
  }

  svg {
    vertical-align: middle;
  }
}

.c-demo-header__brand-beta {
  padding: 1px halve($jm-spacing-unit);

  font-style: normal;
  font-weight: bold;

  color: $jm-demo-color--white;
  background: $jm-demo-color--orange;

  vertical-align: top;
}

.c-demo-header__intro {
  margin: double($jm-spacing-unit) 0;

  @include mq($from: u-bp-l) {
    margin: quadruple($jm-spacing-unit) 0;
  }
}

.c-demo-header__intro-title {
  margin-top: double($jm-alt-spacing-unit);
  margin-bottom: $jm-alt-spacing-unit;
}
