/*------------------------------------*\
    # DEMO CONTROLS
\*------------------------------------*/

.c-demo-controls {
  position: relative;

  margin-top: 0;
  margin-right: -$jm-spacing-unit;
  margin-left: -$jm-spacing-unit;
  padding: $jm-spacing-unit;

  background-color: $jm-demo-color--orange;
  color: $jm-demo-color--white;

  @include mq($from: u-bp-s) {
    margin-right: double(-$jm-spacing-unit);
    margin-left: double(-$jm-spacing-unit);
    padding: double($jm-spacing-unit);
  }

  @include mq($from: u-bp-l) {
    margin: 0 0 quadruple($jm-spacing-unit);
  }
}

.c-demo-controls__options {
  margin-top: $jm-spacing-unit;

  @include mq($from: u-bp-m) {
    margin-bottom: 0;
    position: absolute;
    bottom: double($jm-spacing-unit);
    #{$right}: double($jm-spacing-unit);
  }
}

.c-demo-controls__option {
  padding: 0;
  border: 0;
  outline: 0;

  color: #fff;

  background: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.c-demo-controls__option + .c-demo-controls__option {
  #{$margin-left}: $jm-spacing-unit;
}
