/*------------------------------------*\
    # TYPE CONTROLS
\*------------------------------------*/

/**
 * 1. Remove the margin from the last item
 */
.jm-type-controls {
  position: relative;
  margin-right: -$jm-spacing-unit;
  margin-bottom: double($jm-spacing-unit);
  margin-left: -$jm-spacing-unit;
  padding: $jm-spacing-unit;
  background-color: $jm-demo-color--orange;
  color: $jm-demo-color--white;
}

@media (min-width: 25em) {
  .jm-type-controls {
    margin-right: double(-$jm-spacing-unit);
    margin-left: double(-$jm-spacing-unit);
    padding: $jm-spacing-unit;
  }
}

@media (min-width: 56.25em) {
  .jm-type-controls {
    margin-right: 0;
    margin-left: 0;
  }
}

.jm-type-controls > :last-child {
  margin-bottom: 0; /* [1] */
}

.jm-type-controls__label {
  margin-bottom: $jm-spacing-unit;
}

.jm-type-controls__toggle-controls {
  position: absolute;
  bottom: $jm-spacing-unit;
  right: $jm-spacing-unit;
}

@media (min-width: 25em) {
  .jm-type-controls__toggle-controls {
    bottom: double($jm-spacing-unit);
    right: double($jm-spacing-unit);
  }
}

.jm-type-controls__mode-toggle {
  padding: 0;
  border: 0;
  outline: 0;
  color: $jm-demo-color--white;
  background: none;
}

.jm-type-controls__mode-toggle:focus, .jm-type-controls__mode-toggle:hover {
  text-decoration: underline;
}

.jm-type-controls__mode-toggle--bold {
  display: inline-block;
}

.jm-type-controls__mode-toggle--touch {
  display: none;
}

@media (min-width: 28.75em) {
  .jm-type-controls__mode-toggle--touch {
    display: inline-block;
    margin-left: $jm-spacing-unit;
  }
}

/**
 * Change the group name based on the current media-query
 */
.jm-type-controls__group-name:after {
  content: 'Group A (0 - 319px)';
}

@media (min-width: 20em) {
  .jm-type-controls__group-name:after {
    content: 'Group B (320px - 599px)';
  }
}

@media (min-width: 37.5em) {
  .jm-type-controls__group-name:after {
    content: 'Group C (600+, Touch available)';
  }
  .no-touch .jm-type-controls__group-name:after {
    content: 'Group D (600+, Touch not available)';
  }
}

/**
 * Change the example device based on the current media-query
 */
.jm-type-controls__example-device:after {
  content: 'Feature Phones';
}

@media (min-width: 20em) {
  .jm-type-controls__example-device:after {
    content: 'Default & Smart Phones';
  }
}

@media (min-width: 37.5em) {
  .jm-type-controls__example-device:after {
    content: 'Typically Tablet Devices';
  }
  .no-touch .jm-type-controls__example-device:after {
    content: 'Typically Desktop or Laptop Screens';
  }
}
