/*------------------------------------*\
    # GRID DEMO
\*------------------------------------*/

.c-grid-demo-section {
  margin-top: double($jm-spacing-unit);
  border-top: 1px solid $jm-demo-color--alto;
  padding-top: double($jm-spacing-unit);
}

.c-grid-demo__summary {
  margin-top: halve($jm-spacing-unit);
  color: $jm-demo-color--cod-gray;
}

/**
 * A placeholder element to demostrate grid sizing
 */
.c-grid-demo-item {
  width: 100%;
  padding: $jm-spacing-unit;

  background-color: #d4e7eb;
  color: $jm-demo-color--black;

  @include mq($from: u-bp-s) {
    padding: double($jm-spacing-unit);
  }
}

.c-grid-demo-item--fill {
  background: repeating-linear-gradient(180deg, #d4e7eb, #d4e7eb 8px, #aec4cc 8px, #aec4cc 16px);
}

.c-grid-demo-item--auto {
  height: auto;
}

.c-grid-demo-item--large {
  height: 144px;
}

/**
 * A basic GEL Promo pattern
 */
.c-grid-demo-promo {
  display: flex;
  flex: 1 1 auto;
}

.c-grid-demo-promo__image {
  flex: 1 1 auto;
}

.c-grid-demo-promo__body {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 auto;
  justify-content: space-between;
}
