/**
<aside class="c-pullout">
  <blockquote class="c-pull-quote">
    <div class="c-pull-quote__body">
      <p>The quote</p>
    </div>
    <footer class="c-pull-quote__cite">
      <cite class="c-pull-quote__cite-name">The quoted</cite>
    </footer>
  </blockquote>
</aside>
*/
.c-pull-quote {
  margin-left: -18px;
  border-left: 2px solid #000;
  padding-left: 12px;

  @include mq($from: u-bp-m) {
    margin-left: 0;
    border-left-width: 4px;
  }
}

.c-pull-quote__icon {
  margin-bottom: rem(-$jm-base-line-height);
  line-height: 1;
}

.c-pull-quote__icon i {
  font-size: 2rem;

  @include mq($from: u-bp-m) {
    font-size: 2.5rem;
  }
}

.c-pull-quote__body {
  margin-bottom: 1rem;
  font-family: $jm-type-base-font-stack-serif;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.c-pull-quote__body > :last-child {
  margin-bottom: 0;
}

.c-pull-quote__cite-name {
  display: block;
  color: #5a5a5a;
}

.c-pull-quote__cite-profession {
  display: block;
  color: #5a5a5a;
}
