.o-button,
.o-button:visited {
  position: relative;

  display: inline-block;

  margin: 0;
  border: 1px solid $jm-demo-color--tundora;
  padding: double($jm-spacing-unit);

  color: $jm-demo-color--white;
  text-align: center;
  text-decoration: none;
  line-height: 1.2;

  background-color: $jm-demo-color--tundora;
  appearance: none;
  cursor: pointer;

  @include mq($from: gel-bp-xs) {
    min-width: 190px;
  }

  &:focus,
  &:hover {
    text-decoration: underline;
    background-color: #121212;
  }

  &:active {
    top: 1px;
    background-color: $jm-demo-color--orange;
    border-color: $jm-demo-color--orange;
  }

  /*.gel-icon--inline {
      margin-right:$gel-spacing-unit;
  }*/
}

/**
 * Clear button
 */
.o-button--clear {
  background-color: transparent;
  color: $jm-demo-color--tundora;

  &:focus,
  &:hover {
    background-color: transparent;
    border-color: $jm-demo-color--tundora;
  }

  &:active {
    background-color: transparent;
  }
}
