/*------------------------------------*\
    # SPACING
\*------------------------------------*/

/**
 * Spacing (margin and padding) utility classes. These can be used to adjust layouts of components constructed
 * entirely of other abstractions
 *
    <h1 class="gel-cannon-bold u-mb+">My Title</h1>
    <p class="gel-pica u-mb u-mb+@m">Some content</p>
 *
 * Applying spacing should not and does not have to be done exclusively with the classes, apply a bit of
 * common sense thinking as to when and where you use these.
 *
 * These classes use the following naming structure:

    .u-(margin/padding)(spacing type)(spacing size)(optional breakpoint) { ... }

 *
 * Available spacing types:
 *
 * mt -> margin-top
 * mr -> margin-right (margin-left if $rtl is true)
 * mb -> margin-bottom
 * ml -> margin-left (margin-right if $rtl is true)
 * mv -> margin-top & margin-bottom
 * mh -> margin-right & margin-left (flipped if $rtl is true)
 * pt -> padding-top
 * pr -> padding-right (padding-left if $rtl is true)
 * pb -> padding-bottom
 * pl -> padding-left (padding-right if $rtl is true)
 * pv -> padding-top & padding-bottom
 * ph -> padding-right & padding-left (flipped if $rtl is true)
 *
 * Available gel spacing unit sizes:
 *
 * 0       - 0px
 * `--`    - 2px
 * `-`     - 4px
 * Default - 8px
 * `+`     - 16px
 * `++`    - 32px
 *
 * Available gel alt spacing unit sizes:
 *
 * 'alt'   - 12px
 * 'alt+'  - 24px
 *
 * Optional breakpoint suffix:
 *
 * @xs - GEL Extra Small Breakpoint (240px)
 * @s - GEL Small Breakpoint (400px)
 * @m - GEL Medium Breakpoint (600px)
 * @l - GEL Large Breakpoint (900px)
 * @xl - GEL Extra Large Breakpoint (1008px)
 * @xxl - GEL Extra Extra Large Breakpoint (1280px)
 *
 */

// Which breakpoints do we want spacing classes generated for?
//
// @type List
//
$spacing-breakpoints: $jm-grid-breakpoints !default;

// Output the spacing classes, adding a breakpoint namespace if required
//
// @param {String}  $breakpoint - breakpoint namespace you want to apply
//
// @access          private
//
// @author          Shaun Bent
//
@mixin _output-spacing-classes($breakpoint: null) {
  $breakpoint-suffix: '';

  @if $breakpoint != null {
    $breakpoint-suffix: \@#{$breakpoint};
  }

  /**
   * Margin spacing classes (gel spacing unit)
   */
  .u-m#{$breakpoint-suffix} {
    margin: $jm-spacing-unit !important;
  }
  .u-mt#{$breakpoint-suffix} {
    margin-top: $jm-spacing-unit !important;
  }
  .u-mr#{$breakpoint-suffix} {
    #{$margin-right}: $jm-spacing-unit !important;
  }
  .u-mb#{$breakpoint-suffix} {
    margin-bottom: $jm-spacing-unit !important;
  }
  .u-ml#{$breakpoint-suffix} {
    #{$margin-left}: $jm-spacing-unit !important;
  }
  .u-mh#{$breakpoint-suffix} {
    #{$margin-right}: $jm-spacing-unit !important;
    #{$margin-left}: $jm-spacing-unit !important;
  }
  .u-mv#{$breakpoint-suffix} {
    margin-top: $jm-spacing-unit !important;
    margin-bottom: $jm-spacing-unit !important;
  }

  /**
   * Tiny margin spacing classes (gel spacing unit)
   */
  .u-m--#{$breakpoint-suffix} {
    margin: quarter($jm-spacing-unit) !important;
  }
  .u-mt--#{$breakpoint-suffix} {
    margin-top: quarter($jm-spacing-unit) !important;
  }
  .u-mr--#{$breakpoint-suffix} {
    #{$margin-right}: quarter($jm-spacing-unit) !important;
  }
  .u-mb--#{$breakpoint-suffix} {
    margin-bottom: quarter($jm-spacing-unit) !important;
  }
  .u-ml--#{$breakpoint-suffix} {
    #{$margin-left}: quarter($jm-spacing-unit) !important;
  }
  .u-mh--#{$breakpoint-suffix} {
    #{$margin-right}: quarter($jm-spacing-unit) !important;
    #{$margin-left}: quarter($jm-spacing-unit) !important;
  }
  .u-mv--#{$breakpoint-suffix} {
    margin-top: quarter($jm-spacing-unit) !important;
    margin-bottom: quarter($jm-spacing-unit) !important;
  }

  /**
   * Small margin spacing classes (gel spacing unit)
   */
  .u-m-#{$breakpoint-suffix} {
    margin: halve($jm-spacing-unit) !important;
  }
  .u-mt-#{$breakpoint-suffix} {
    margin-top: halve($jm-spacing-unit) !important;
  }
  .u-mr-#{$breakpoint-suffix} {
    #{$margin-right}: halve($jm-spacing-unit) !important;
  }
  .u-mb-#{$breakpoint-suffix} {
    margin-bottom: halve($jm-spacing-unit) !important;
  }
  .u-ml-#{$breakpoint-suffix} {
    #{$margin-left}: halve($jm-spacing-unit) !important;
  }
  .u-mh-#{$breakpoint-suffix} {
    #{$margin-right}: halve($jm-spacing-unit) !important;
    #{$margin-left}: halve($jm-spacing-unit) !important;
  }
  .u-mv-#{$breakpoint-suffix} {
    margin-top: halve($jm-spacing-unit) !important;
    margin-bottom: halve($jm-spacing-unit) !important;
  }

  /**
   * Large margin spacing classes (gel spacing unit)
   */
  .u-m\+#{$breakpoint-suffix} {
    margin: double($jm-spacing-unit) !important;
  }
  .u-mt\+#{$breakpoint-suffix} {
    margin-top: double($jm-spacing-unit) !important;
  }
  .u-mr\+#{$breakpoint-suffix} {
    #{$margin-right}: double($jm-spacing-unit) !important;
  }
  .u-mb\+#{$breakpoint-suffix} {
    margin-bottom: double($jm-spacing-unit) !important;
  }
  .u-ml\+#{$breakpoint-suffix} {
    #{$margin-left}: double($jm-spacing-unit) !important;
  }
  .u-mh\+#{$breakpoint-suffix} {
    #{$margin-right}: double($jm-spacing-unit) !important;
    #{$margin-left}: double($jm-spacing-unit) !important;
  }
  .u-mv\+#{$breakpoint-suffix} {
    margin-top: double($jm-spacing-unit) !important;
    margin-bottom: double($jm-spacing-unit) !important;
  }

  /**
   * Huge margin spacing classes (gel spacing unit)
   */
  .u-m\+\+#{$breakpoint-suffix} {
    margin: quadruple($jm-spacing-unit) !important;
  }
  .u-mt\+\+#{$breakpoint-suffix} {
    margin-top: quadruple($jm-spacing-unit) !important;
  }
  .u-mr\+\+#{$breakpoint-suffix} {
    #{$margin-right}: quadruple($jm-spacing-unit) !important;
  }
  .u-mb\+\+#{$breakpoint-suffix} {
    margin-bottom: quadruple($jm-spacing-unit) !important;
  }
  .u-ml\+\+#{$breakpoint-suffix} {
    #{$margin-left}: quadruple($jm-spacing-unit) !important;
  }
  .u-mh\+\+#{$breakpoint-suffix} {
    #{$margin-right}: quadruple($jm-spacing-unit) !important;
    #{$margin-left}: quadruple($jm-spacing-unit) !important;
  }
  .u-mv\+\+#{$breakpoint-suffix} {
    margin-top: quadruple($jm-spacing-unit) !important;
    margin-bottom: quadruple($jm-spacing-unit) !important;
  }

  /**
   * Alt margin spacing classes
   */
  .u-m-alt#{$breakpoint-suffix} {
    margin: $jm-alt-spacing-unit !important;
  }
  .u-mt-alt#{$breakpoint-suffix} {
    margin-top: $jm-alt-spacing-unit !important;
  }
  .u-mr-alt#{$breakpoint-suffix} {
    #{$margin-right}: $jm-alt-spacing-unit !important;
  }
  .u-mb-alt#{$breakpoint-suffix} {
    margin-bottom: $jm-alt-spacing-unit !important;
  }
  .u-ml-alt#{$breakpoint-suffix} {
    #{$margin-left}: $jm-alt-spacing-unit !important;
  }
  .u-mh-alt#{$breakpoint-suffix} {
    #{$margin-right}: $jm-alt-spacing-unit !important;
    #{$margin-left}: $jm-alt-spacing-unit !important;
  }
  .u-mv-alt#{$breakpoint-suffix} {
    margin-top: $jm-alt-spacing-unit !important;
    margin-bottom: $jm-alt-spacing-unit !important;
  }

  /**
   * Alt double margin spacing classes
   */
  .u-m-alt\+#{$breakpoint-suffix} {
    margin: double($jm-alt-spacing-unit) !important;
  }
  .u-mt-alt\+#{$breakpoint-suffix} {
    margin-top: double($jm-alt-spacing-unit) !important;
  }
  .u-mr-alt\+#{$breakpoint-suffix} {
    #{$margin-right}: double($jm-alt-spacing-unit) !important;
  }
  .u-mb-alt\+#{$breakpoint-suffix} {
    margin-bottom: double($jm-alt-spacing-unit) !important;
  }
  .u-ml-alt\+#{$breakpoint-suffix} {
    #{$margin-left}: double($jm-alt-spacing-unit) !important;
  }
  .u-mh-alt\+#{$breakpoint-suffix} {
    #{$margin-right}: double($jm-alt-spacing-unit) !important;
    #{$margin-left}: double($jm-alt-spacing-unit) !important;
  }
  .u-mv-alt\+#{$breakpoint-suffix} {
    margin-top: double($jm-alt-spacing-unit) !important;
    margin-bottom: double($jm-alt-spacing-unit) !important;
  }

  /**
   * Zero margin spacing classes
   */
  .u-m0#{$breakpoint-suffix} {
    margin: 0 !important;
  }
  .u-mt0#{$breakpoint-suffix} {
    margin-top: 0 !important;
  }
  .u-mr0#{$breakpoint-suffix} {
    #{$margin-right}: 0 !important;
  }
  .u-mb0#{$breakpoint-suffix} {
    margin-bottom: 0 !important;
  }
  .u-ml0#{$breakpoint-suffix} {
    #{$margin-left}: 0 !important;
  }
  .u-mh0#{$breakpoint-suffix} {
    #{$margin-right}: 0 !important;
    #{$margin-left}: 0 !important;
  }
  .u-mv0#{$breakpoint-suffix} {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  /**
   * Padding spacing classes (gel spacing unit)
   */
  .u-p#{$breakpoint-suffix} {
    padding: $jm-spacing-unit !important;
  }
  .u-pt#{$breakpoint-suffix} {
    padding-top: $jm-spacing-unit !important;
  }
  .u-pr#{$breakpoint-suffix} {
    #{$padding-right}: $jm-spacing-unit !important;
  }
  .u-pb#{$breakpoint-suffix} {
    padding-bottom: $jm-spacing-unit !important;
  }
  .u-pl#{$breakpoint-suffix} {
    #{$padding-left}: $jm-spacing-unit !important;
  }
  .u-ph#{$breakpoint-suffix} {
    #{$padding-right}: $jm-spacing-unit !important;
    #{$padding-left}: $jm-spacing-unit !important;
  }
  .u-pv#{$breakpoint-suffix} {
    padding-top: $jm-spacing-unit !important;
    padding-bottom: $jm-spacing-unit !important;
  }

  /**
   * Tiny padding spacing classes (gel spacing unit)
   */
  .u-p--#{$breakpoint-suffix} {
    padding: quarter($jm-spacing-unit) !important;
  }
  .u-pt--#{$breakpoint-suffix} {
    padding-top: quarter($jm-spacing-unit) !important;
  }
  .u-pr--#{$breakpoint-suffix} {
    #{$padding-right}: quarter($jm-spacing-unit) !important;
  }
  .u-pb--#{$breakpoint-suffix} {
    padding-bottom: quarter($jm-spacing-unit) !important;
  }
  .u-pl--#{$breakpoint-suffix} {
    #{$padding-left}: quarter($jm-spacing-unit) !important;
  }
  .u-ph--#{$breakpoint-suffix} {
    #{$padding-right}: quarter($jm-spacing-unit) !important;
    #{$padding-left}: quarter($jm-spacing-unit) !important;
  }
  .u-pv--#{$breakpoint-suffix} {
    padding-top: quarter($jm-spacing-unit) !important;
    padding-bottom: quarter($jm-spacing-unit) !important;
  }

  /**
   * Small padding spacing classes (gel spacing unit)
   */
  .u-p-#{$breakpoint-suffix} {
    padding: halve($jm-spacing-unit) !important;
  }
  .u-pt-#{$breakpoint-suffix} {
    padding-top: halve($jm-spacing-unit) !important;
  }
  .u-pr-#{$breakpoint-suffix} {
    #{$padding-right}: halve($jm-spacing-unit) !important;
  }
  .u-pb-#{$breakpoint-suffix} {
    padding-bottom: halve($jm-spacing-unit) !important;
  }
  .u-pl-#{$breakpoint-suffix} {
    #{$padding-left}: halve($jm-spacing-unit) !important;
  }
  .u-ph-#{$breakpoint-suffix} {
    #{$padding-right}: halve($jm-spacing-unit) !important;
    #{$padding-left}: halve($jm-spacing-unit) !important;
  }
  .u-pv-#{$breakpoint-suffix} {
    padding-top: halve($jm-spacing-unit) !important;
    padding-bottom: halve($jm-spacing-unit) !important;
  }

  /**
   * Large padding spacing classes (gel spacing unit)
   */
  .u-p\+#{$breakpoint-suffix} {
    padding: double($jm-spacing-unit) !important;
  }
  .u-pt\+#{$breakpoint-suffix} {
    padding-top: double($jm-spacing-unit) !important;
  }
  .u-pr\+#{$breakpoint-suffix} {
    #{$padding-right}: double($jm-spacing-unit) !important;
  }
  .u-pb\+#{$breakpoint-suffix} {
    padding-bottom: double($jm-spacing-unit) !important;
  }
  .u-pl\+#{$breakpoint-suffix} {
    #{$padding-left}: double($jm-spacing-unit) !important;
  }
  .u-ph\+#{$breakpoint-suffix} {
    #{$padding-right}: double($jm-spacing-unit) !important;
    #{$padding-left}: double($jm-spacing-unit) !important;
  }
  .u-pv\+#{$breakpoint-suffix} {
    padding-top: double($jm-spacing-unit) !important;
    padding-bottom: double($jm-spacing-unit) !important;
  }

  /**
   * Huge padding spacing classes (gel spacing unit)
   */
  .u-p\+\+#{$breakpoint-suffix} {
    padding: quadruple($jm-spacing-unit) !important;
  }
  .u-pt\+\+#{$breakpoint-suffix} {
    padding-top: quadruple($jm-spacing-unit) !important;
  }
  .u-pr\+\+#{$breakpoint-suffix} {
    #{$padding-right}: quadruple($jm-spacing-unit) !important;
  }
  .u-pb\+\+#{$breakpoint-suffix} {
    padding-bottom: quadruple($jm-spacing-unit) !important;
  }
  .u-pl\+\+#{$breakpoint-suffix} {
    #{$padding-left}: quadruple($jm-spacing-unit) !important;
  }
  .u-ph\+\+#{$breakpoint-suffix} {
    #{$padding-right}: quadruple($jm-spacing-unit) !important;
    #{$padding-left}: quadruple($jm-spacing-unit) !important;
  }
  .u-pv\+\+#{$breakpoint-suffix} {
    padding-top: quadruple($jm-spacing-unit) !important;
    padding-bottom: quadruple($jm-spacing-unit) !important;
  }

  /**
   * Alt padding spacing classes (gel-alt-spacing-unit)
   */
  .u-p-alt#{$breakpoint-suffix} {
    padding: $jm-alt-spacing-unit !important;
  }
  .u-pt-alt#{$breakpoint-suffix} {
    padding-top: $jm-alt-spacing-unit !important;
  }
  .u-pr-alt#{$breakpoint-suffix} {
    #{$padding-right}: $jm-alt-spacing-unit !important;
  }
  .u-pb-alt#{$breakpoint-suffix} {
    padding-bottom: $jm-alt-spacing-unit !important;
  }
  .u-pl-alt#{$breakpoint-suffix} {
    #{$padding-left}: $jm-alt-spacing-unit !important;
  }
  .u-ph-alt#{$breakpoint-suffix} {
    #{$padding-right}: $jm-alt-spacing-unit !important;
    #{$padding-left}: $jm-alt-spacing-unit !important;
  }
  .u-pv-alt#{$breakpoint-suffix} {
    padding-top: $jm-alt-spacing-unit !important;
    padding-bottom: $jm-alt-spacing-unit !important;
  }

  /**
   * Alt double padding spacing classes (gel-alt-spacing-unit)
   */
  .u-p-alt\+#{$breakpoint-suffix} {
    padding: double($jm-alt-spacing-unit) !important;
  }
  .u-pt-alt\+#{$breakpoint-suffix} {
    padding-top: double($jm-alt-spacing-unit) !important;
  }
  .u-pr-alt\+#{$breakpoint-suffix} {
    #{$padding-right}: double($jm-alt-spacing-unit) !important;
  }
  .u-pb-alt\+#{$breakpoint-suffix} {
    padding-bottom: double($jm-alt-spacing-unit) !important;
  }
  .u-pl-alt\+#{$breakpoint-suffix} {
    #{$padding-left}: double($jm-alt-spacing-unit) !important;
  }
  .u-ph-alt\+#{$breakpoint-suffix} {
    #{$padding-right}: double($jm-alt-spacing-unit) !important;
    #{$padding-left}: double($jm-alt-spacing-unit) !important;
  }
  .u-pv-alt\+#{$breakpoint-suffix} {
    padding-top: double($jm-alt-spacing-unit) !important;
    padding-bottom: double($jm-alt-spacing-unit) !important;
  }

  /**
   * Zero padding spacing classes
   */
  .u-p0#{$breakpoint-suffix} {
    padding: 0 !important;
  }
  .u-pt0#{$breakpoint-suffix} {
    padding-top: 0 !important;
  }
  .u-pr0#{$breakpoint-suffix} {
    #{$padding-right}: 0 !important;
  }
  .u-pb0#{$breakpoint-suffix} {
    padding-bottom: 0 !important;
  }
  .u-pl0#{$breakpoint-suffix} {
    #{$padding-left}: 0 !important;
  }
  .u-ph0#{$breakpoint-suffix} {
    #{$padding-right}: 0 !important;
    #{$padding-left}: 0 !important;
  }
  .u-pv0#{$breakpoint-suffix} {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

}

// Output the spacing classes and loop through the array of
// breakpoints output the breakpoint namespaced classes
//
@include _output-spacing-classes();

@each $breakpoint in $spacing-breakpoints {
  @include mq($from: '#{$jm-grid-breakpoint-namespace}#{$breakpoint}') {
    @include _output-spacing-classes($breakpoint);
  }
}
