/*------------------------------------*\
    # DISPLAY
\*------------------------------------*/

/**
 * A utility for applying common box rendering.
 *
 * Can also be used using responsive prefixes
 *
    .u-display-none
    .u-display-block@m
 *
 */

$display-switch-breakpoint-names: $jm-grid-breakpoints !default;

@mixin display-switch($suffix: null) {
  $breakpoint-suffix: '';

  @if $suffix != null {
    $breakpoint-suffix: \@#{$suffix};
  }

  .u-display-none#{$breakpoint-suffix} {
    display: none !important;
    visibility: hidden !important;
  }

  .u-display-inline#{$breakpoint-suffix} {
    display: inline !important;
    visibility: visible !important;
  }

  .u-display-inline-block#{$breakpoint-suffix} {
    display: inline-block !important;
    visibility: visible !important;
  }

  .u-display-block#{$breakpoint-suffix} {
    display: block !important;
    visibility: visible !important;
  }

  .u-display-table-cell#{$breakpoint-suffix} {
    display: table-cell !important;
    visibility: visible !important;
  }

  .u-display-table-row#{$breakpoint-suffix} {
    display: table-row !important;
    visibility: visible !important;
  }

  .u-display-flex#{$breakpoint-suffix} {
    display: flex !important;
    visibility: visible !important;
  }
}

// Output the unsuffixed version
@include display-switch();

@each $breakpoint in $display-switch-breakpoint-names {
  @include mq($from: '#{$jm-grid-breakpoint-namespace}#{$breakpoint}') {
    @include display-switch($breakpoint);
  }
}
