/*------------------------------------*\
    # FLOATS
\*------------------------------------*/

/**
 * A utility for applying floats
 *
 * Can also be used using responsive prefixes
 *
    .u-float-left
    .u-float-left@m
 *
 */

$float-breakpoints: $jm-grid-breakpoints !default;

@mixin floats($suffix: null) {
  $breakpoint-suffix: '';

  @if $suffix != null {
    $breakpoint-suffix: \@#{$suffix};
  }

  .u-float-left#{$breakpoint-suffix} {
    float: flip(left, right) !important;
  }

  .u-float-right#{$breakpoint-suffix} {
    float: flip(right, left) !important;
  }

  .u-float-none#{$breakpoint-suffix} {
    float: none !important;
  }
}

// Output the unsuffixed version
@include floats();

@each $breakpoint in $float-breakpoints {
  @include mq($from: '#{$jm-grid-breakpoint-namespace}#{$breakpoint}') {
    @include floats($breakpoint);
  }
}

/*------------------------------------*\
    # CLEARS
\*------------------------------------*/

/**
 * A utility for applying clears
 *
 * Can also be used using responsive prefixes
 *
    .u-clear-left
    .u-clear-left@m
 *
 */

$clear-breakpoints: $jm-grid-breakpoints !default;

@mixin clears($suffix: null) {
  $breakpoint-suffix: '';

  @if $suffix != null {
    $breakpoint-suffix: \@#{$suffix};
  }

  .u-clear-left#{$breakpoint-suffix} {
    clear: flip(left, right) !important;
  }

  .u-clear-right#{$breakpoint-suffix} {
    clear: flip(right, left) !important;
  }

  .u-clear-both#{$breakpoint-suffix} {
    clear: both !important;
  }
}

// Output the unsuffixed version
@include clears();

@each $breakpoint in $clear-breakpoints {
  @include mq($from: '#{$jm-grid-breakpoint-namespace}#{$breakpoint}') {
    @include clears($breakpoint);
  }
}
