<!DOCTYPE html>
<html lang="en">
<head>
  {{> src/partials/_head title='Title' }}
</head>
<body>
{{!-- MODALS --}}

{{!-- HEADER --}}
{{> src/partials/_page-header }}

{{!-- CONTENT --}}

{{!-- FOOTER --}}
{{> src/partials/_page-footer }}

{{!-- JAVASCRIPT --}}

{{!-- CSS rel=preload polyfill - https://github.com/filamentgroup/loadCSS --}}
<script id="inlinejs__preload-polfill">!function(t){'use strict';var e=t.document,r={};r.isPreloadSupported=function(){try{return e.createElement('link').relList.supports('preload')}catch(t){return!1}},r.init=function(){for(var t=e.getElementsByTagName('link'),r=0;r<t.length;r++){var n=t[r];'preload'===n.rel&&'style'===n.getAttribute('as')&&(loadCSS(n.href,n),n.rel=null)}},window.loadCSS&&!r.isPreloadSupported()&&r.init()}(this);</script>
</body>
</html>
