<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {{> src/partials/_demo-page-head title='Grid Demo' }}
</head>
<body>
<div class="demo">

{{!-- HEADER --}}
{{> src/partials/_demo-grid-header }}

{{!-- CONTENT --}}
{{> src/partials/_demo-grid-main-content }}
</div>

{{!-- JAVASCRIPT --}}
<script>
  function overlayTextToggle() {
    var overlayToggle = document.getElementById('overlay-toggle');
    overlayToggle.innerHTML === 'Toggle Grid Overlay On' ?
      overlayToggle.innerHTML = 'Toggle Grid Overlay Off' : overlayToggle.innerHTML = 'Toggle Grid Overlay On';
  }

  function gridOverlay() {
    if (document.getElementsByClassName("jm-grid-overlay").length) {
      document.getElementsByClassName("jm-grid-overlay")[0].remove()
    }
    var e = "<div class=\"jm-grid-overlay__grid\"><div class=\"jm-grid-overlay__margin\" style=\"left: 0;\"></div>";
    for (i = 0; i < 12; i++) {
      e += "<div class=\"jm-grid-overlay__column\"><div class=\"jm-grid-overlay__column-fill\"></div></div>"
    }
    e += "<div class=\"jm-grid-overlay__margin\" style=\"right: 0;\"></div>";
    e += "</div>";
    var t = document.createElement("div");
    t.className = "jm-grid-overlay";
    t.innerHTML = e;
    var n = document.createElement("style");
    n.innerHTML = ".jm-grid-overlay * {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;);}.jm-grid-overlay {z-index: 2147483647; position: fixed; height: 100%; width: 100%; left: 0; top: 0;}.jm-grid-overlay__grid {position: relative; width: 100%; height: 100%; max-width: 1008px; margin: 0 auto; padding: 0 4px;}.jm-grid-overlay__column {display: inline-block; height: 100%; width: 8.33333%; padding: 0 4px;}.jm-grid-overlay__column-fill {background: rgba(255,0,0,0.1); height: 100%;}.jm-grid-overlay__margin {display: inline-block; height: 100%; width: 8px; position: absolute; top: 0; background: rgba(0,255,0,0.1);}@media screen and (min-width: 400px) {.jm-grid-overlay__grid {padding: 0 12px;}.jm-grid-overlay__margin {width: 16px;}@media screen and (min-width: 600px) {.jm-grid-overlay__grid {padding: 0 8px;}.jm-grid-overlay__column {padding: 0 8px;}}@media screen and (min-width: 1280px) {.jm-grid-overlay__grid {max-width: 1280px;}}";
    document.getElementsByTagName("head")[0].appendChild(n);
    document.getElementsByTagName("body")[0].appendChild(t);
    t.addEventListener("click", function () {
      document.getElementsByClassName("jm-grid-overlay")[0].remove();
      overlayTextToggle();
    });
  }

  function toggleStyles() {
    var html = document.querySelector('html');
    var stylesheet = document.getElementById('stylesheet');
    var rtlToggle = document.getElementById('rtl-toggle');

    rtlToggle.innerHTML = (rtlToggle.innerHTML === 'Toggle RTL On') ?
      'Toggle RTL Off' : 'Toggle RTL On';

    if (stylesheet.getAttribute('href').indexOf('-rtl') > -1) {
      stylesheet.setAttribute('href', 'assets/stylesheets/jm-demo-enhanced.css');

      html.setAttribute('dir', 'ltr');
    } else {
      stylesheet.setAttribute('href', 'assets/stylesheets/jm-demo-enhanced-rtl.css');

      html.setAttribute('dir', 'rtl');
    }
  }

  (function () {
    var overlayToggle = document.getElementById('overlay-toggle');
    overlayToggle.addEventListener('click', function () {
      gridOverlay();
      overlayTextToggle();
    });

    var rtlToggle = document.getElementById('rtl-toggle');
    rtlToggle.addEventListener('click', function () {
      toggleStyles();
    });
  }());
</script>
</body>
</html>
