<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {{> src/partials/_example-head title='Example' }}
</head>
<body>
{{!-- HEADER --}}
{{> src/partials/_example-header }}

{{!-- CONTENT --}}
{{> src/partials/_example-content }}

{{!-- FOOTER --}}
{{> src/partials/_example-footer }}

{{!-- JAVASCRIPT --}}

{{!-- CSS rel=preload polyfill - https://github.com/filamentgroup/loadCSS --}}
<script id="inlinejs__preload-polfill">!function(t){'use strict';var e=t.document,r={};r.isPreloadSupported=function(){try{return e.createElement('link').relList.supports('preload')}catch(t){return!1}},r.init=function(){for(var t=e.getElementsByTagName('link'),r=0;r<t.length;r++){var n=t[r];'preload'===n.rel&&'style'===n.getAttribute('as')&&(loadCSS(n.href,n),n.rel=null)}},window.loadCSS&&!r.isPreloadSupported()&&r.init()}(this);</script>
</body>
</html>
